<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Marc Høgh</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="navbar-header">
            @Html.ActionLink("Back to homepage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="navbar-nav">
            <li class="nav-item px-2">
                @Html.ActionLink("Customer", "Index", "Customer")
            </li>
            <li class="nav-item px-2">
                @Html.ActionLink("Catalogue", "Index", "Catalogue")
            </li>
            <li class="nav-item px-2">
                @Html.ActionLink("Invoice", "Index", "Invoice")
            </li>
            <li class="ml-auto">
                @using (Html.BeginForm("Index", "Cart"))
                {
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="View Cart" />
                }
            </li>
        </ul>
    </nav>


    <div class="row panel">
        <div id="categories" class="col-xs-3">
            Put something useful here later
        </div>
        <div class="col-xs-9">
            @RenderBody()
        </div>
    </div>

    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Marc Høgh</p>
    </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>