@using MbmStore.Models;
@{
    ViewBag.Title = "Index";
}



<h2>Customers</h2>
@foreach (Customer customer in ViewBag.Customers)
{


<div class="card customer">
    <div class="card-body">
        <p><span class="font-weight-bold">Name:</span> @customer.Firstname @customer.Lastname</p>
        <p><span class="font-weight-bold">Age:</span> @customer.Age</p>
        <p><span class="font-weight-bold">Number:</span> @String.Join(", ", customer.PhoneNumbers)</p>
        <p><span class="font-weight-bold">Adress:</span> @customer.Address, @customer.Zip, @customer.City </p>
    </div>
</div>
    
    }


